# Исследовательский анализ

In [12]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import yaml

import seaborn as sns
pd.set_option("display.max_rows", 30)
pd.set_option("display.max_columns", 20)
pd.set_option("display.precision",6)
pd.set_option("plotting.backend", "matplotlib")

#Для корректного отображения графиков в ноутбуках используется команда %matplotlib inline
%matplotlib inline
# для корректного отображения графиков на тёмном фоне
plt.style.use('default')

# Загрузка и анализ сырых данных

In [2]:
project_path = os.path.abspath(os.path.join(os.getcwd(), os.path.pardir, os.path.pardir))
f_input = os.path.join("data", "raw", "SF_Mandarin_dataset_ver3_csv.csv")
filename = os.path.join(project_path,f_input)

In [3]:
df = pd.read_csv(filename, sep=';')

Размер набора данных

In [4]:
print(f'Строк - {df.shape[0]}\nСтолбцов - {df.shape[1]}')

Строк - 8787
Столбцов - 22

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8787 entries, 0 to 8786
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SkillFactory_Id    6603 non-null   float64
 1   BirthDate          6603 non-null   object
 2   education          6603 non-null   object
 3   employment status  6603 non-null   object
 4   Value              6523 non-null   object
 5   JobStartDate       6494 non-null   object
 6   Position           6494 non-null   object
 7   MonthProfit        6603 non-null   float64
 8   MonthExpense       6603 non-null   float64
 9   Gender             6566 non-null   float64
 10  Family status      6566 non-null   object
 11  ChildCount         6566 non-null   float64
 12  SNILS              6603 non-null   float64
 13  BankA_decision     6603 non-null   object
 14  BankB_decision     6603 non-null   object
 15  BankC_decision     6603 non-null   object
 16  BankD_decision     6603 non-null   object
 17  BankE_decision     6603 non-null   object
 18  Merch_code         6603 non-null   float64
 19  Loan_amount        6603 non-null   float64
 20  Loan_term          6603 non-null   float64
 21  Goods_category     6603 non-null   object
dtypes: float64(9), object(13)
memory usage: 1.5+ MB

In [6]:
df.describe()

,SkillFactory_Id,MonthProfit,MonthExpense,Gender,ChildCount,SNILS,Merch_code,Loan_amount,Loan_term
count,6603.000000,6.603000e+03,6603.000000,6566.000000,6566.000000,6603.000000,6603.000000,6603.000000,6603.000000
mean,4388.192640,1.484528e+05,26234.063153,0.309625,0.097320,0.350295,38.794184,76362.108133,12.117219
std,2515.520596,7.742496e+04,22557.993167,0.462374,0.423026,0.477099,23.929860,50978.500496,5.996582
min,1.000000,5.000000e+01,0.000000,0.000000,0.000000,0.000000,1.000000,4000.000000,6.000000
25%,2225.500000,1.000000e+05,15000.000000,0.000000,0.000000,0.000000,18.000000,35000.000000,6.000000
50%,4431.000000,1.450000e+05,22500.000000,0.000000,0.000000,0.000000,36.000000,68000.000000,12.000000
75%,6516.500000,1.900000e+05,31000.000000,1.000000,0.000000,1.000000,63.000000,101000.000000,18.000000
max,8787.000000,1.200000e+06,500000.000000,1.000000,5.000000,1.000000,80.000000,200000.000000,24.000000

In [7]:
# Количество дубликатов:
df.duplicated().sum()

2183

In [8]:
# Строк с пустыми значениями
df[df.isnull().any(axis=1)].shape[0]

2323

In [9]:
df.isna().sum()

SkillFactory_Id      2184
BirthDate            2184
education            2184
employment status    2184
Value                2264
                     ...
BankE_decision       2184
Merch_code           2184
Loan_amount          2184
Loan_term            2184
Goods_category       2184
Length: 22, dtype: int64

# Загрузка и анализ данных после предобработки

## Данные после 1-го этапа заполнения пропусков

In [4]:
# f_input = os.path.join("data", "raw", "SF_Mandarin_dataset_ver3_csv.csv")
f_input1="data/stage_fill_na/dataset.csv"
filename = os.path.join(project_path,f_input1)
df1 = pd.read_csv(filename, sep=';')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SkillFactory_Id    6603 non-null   float64
 1   BirthDate          6603 non-null   object
 2   education          6603 non-null   object
 3   employment status  6603 non-null   object
 4   Value              6603 non-null   object
 5   JobStartDate       6603 non-null   object
 6   Position           6494 non-null   object
 7   MonthProfit        6603 non-null   float64
 8   MonthExpense       6603 non-null   float64
 9   Gender             6603 non-null   float64
 10  Family status      6603 non-null   object
 11  ChildCount         6603 non-null   float64
 12  SNILS              6603 non-null   float64
 13  BankA_decision     6603 non-null   object
 14  BankB_decision     6603 non-null   object
 15  BankC_decision     6603 non-null   object
 16  BankD_decision     6603 non-null   object
 17  BankE_decision     6603 non-null   object
 18  Merch_code         6603 non-null   float64
 19  Loan_amount        6603 non-null   float64
 20  Loan_term          6603 non-null   float64
 21  Goods_category     6603 non-null   object
dtypes: float64(9), object(13)
memory usage: 1.1+ MB

## Данные после 2-го этапа корректировки типов данных

In [5]:
f_input2="data/stage_data_prepare/dataset.csv"
filename = os.path.join(project_path,f_input2)
df2 = pd.read_csv(filename, sep=';', parse_dates=['JobStartDate', 'BirthDate'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SkillFactory_Id    6603 non-null   int64
 1   BirthDate          6603 non-null   datetime64[ns]
 2   education          6603 non-null   object
 3   employment status  6603 non-null   object
 4   Value              6603 non-null   object
 5   JobStartDate       6603 non-null   datetime64[ns]
 6   Position           6494 non-null   object
 7   MonthProfit        6603 non-null   float64
 8   MonthExpense       6603 non-null   float64
 9   Gender             6603 non-null   int64
 10  Family status      6603 non-null   object
 11  ChildCount         6603 non-null   int64
 12  SNILS              6603 non-null   int64
 13  BankA_decision     6603 non-null   object
 14  BankB_decision     6603 non-null   object
 15  BankC_decision     6603 non-null   object
 16  BankD_decision     6603 non-null   object
 17  BankE_decision     6603 non-null   object
 18  Merch_code         6603 non-null   float64
 19  Loan_amount        6603 non-null   float64
 20  Loan_term          6603 non-null   float64
 21  Goods_category     6603 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(4), object(11)
memory usage: 1.1+ MB

In [12]:
# Количество дубликатов:
df2.duplicated().sum()

0

In [13]:
# Строк с пустыми значениями
df2[df2.isnull().any(axis=1)].shape[0]

109

In [6]:
f_input3="data/stage_fix_errors/dataset.csv"
filename = os.path.join(project_path,f_input3)
df3 = pd.read_csv(filename, sep=';', parse_dates=['JobStartDate', 'BirthDate'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SkillFactory_Id    6603 non-null   int64
 1   BirthDate          6603 non-null   datetime64[ns]
 2   education          6603 non-null   object
 3   employment status  6603 non-null   object
 4   Value              6544 non-null   object
 5   JobStartDate       6603 non-null   object
 6   Position           6494 non-null   object
 7   MonthProfit        6603 non-null   float64
 8   MonthExpense       6603 non-null   float64
 9   Gender             6603 non-null   int64
 10  Family status      6603 non-null   object
 11  ChildCount         6603 non-null   int64
 12  SNILS              6603 non-null   int64
 13  BankA_decision     6603 non-null   object
 14  BankB_decision     6603 non-null   object
 15  BankC_decision     6603 non-null   object
 16  BankD_decision     6603 non-null   object
 17  BankE_decision     6603 non-null   object
 18  Merch_code         6603 non-null   float64
 19  Loan_amount        6603 non-null   float64
 20  Loan_term          6603 non-null   float64
 21  Goods_category     6603 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(4), object(12)
memory usage: 1.1+ MB

### Проверка методов предобработки

In [14]:
from importlib import reload
import data_prepare
reload(data_prepare)
df2t = data_prepare.prepare_dataset(df1)
df2t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SkillFactory_Id    6603 non-null   int64
 1   BirthDate          6603 non-null   datetime64[ns]
 2   education          6603 non-null   object
 3   employment status  6603 non-null   object
 4   Value              6603 non-null   object
 5   JobStartDate       6603 non-null   datetime64[ns]
 6   Position           6494 non-null   object
 7   MonthProfit        6603 non-null   float64
 8   MonthExpense       6603 non-null   float64
 9   Gender             6603 non-null   int64
 10  Family status      6603 non-null   object
 11  ChildCount         6603 non-null   int64
 12  SNILS              6603 non-null   int64
 13  BankA_decision     6603 non-null   object
 14  BankB_decision     6603 non-null   object
 15  BankC_decision     6603 non-null   object
 16  BankD_decision     6603 non-null   object
 17  BankE_decision     6603 non-null   object
 18  Merch_code         6603 non-null   float64
 19  Loan_amount        6603 non-null   float64
 20  Loan_term          6603 non-null   float64
 21  Goods_category     6603 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(4), object(11)
memory usage: 1.1+ MB

In [80]:
from importlib import reload
import fix_errors
# import utils.seniority_cats
from scripts.data_scripts.utils import seniority_cats
# from utils.seniority_cats import months_seniority_to_cat, seniority_cat_to_month_count
reload(fix_errors)
reload(seniority_cats)

In [17]:
df['Family status'][0]

'Никогда в браке не состоял(а)'

In [18]:
fix_errors.check_family_status(df['Family status'][0])

False

In [19]:
a=df.iloc[1201, :]
a

SkillFactory_Id                                          1627.0
BirthDate                           1995-07-03 00:00:00.0000000
education                              Среднее профессиональное
employment status    Работаю по найму полный рабочий день/служу
Value                                                3 - 4 года
JobStartDate                        2019-05-01 00:00:00.0000000
Position                                     командир отделения
MonthProfit                                             67000.0
MonthExpense                                                0.0
Gender                                                      1.0
Family status                                   Женат / замужем
ChildCount                                                  1.0
SNILS                                                       1.0
BankA_decision                                          success
BankB_decision                                          success
BankC_decision                                          success
BankD_decision                                           denied
BankE_decision                                          success
Merch_code                                                 15.0
Loan_amount                                             80000.0
Loan_term                                                  12.0
Goods_category                                 Medical_services
Name: 1201, dtype: object

In [20]:
fix_errors.fix_expense(a)
a

/mnt/data/projects/active/urfu/hacaton2/scripts/data_scripts/fix_errors.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  application_data['MonthExpense'] = real_expense

SkillFactory_Id                                          1627.0
BirthDate                           1995-07-03 00:00:00.0000000
education                              Среднее профессиональное
employment status    Работаю по найму полный рабочий день/служу
Value                                                3 - 4 года
JobStartDate                        2019-05-01 00:00:00.0000000
Position                                     командир отделения
MonthProfit                                             67000.0
MonthExpense                                            45282.0
Gender                                                      1.0
Family status                                   Женат / замужем
ChildCount                                                  1.0
SNILS                                                       1.0
BankA_decision                                          success
BankB_decision                                          success
BankC_decision                                          success
BankD_decision                                           denied
BankE_decision                                          success
Merch_code                                                 15.0
Loan_amount                                             80000.0
Loan_term                                                  12.0
Goods_category                                 Medical_services
Name: 1201, dtype: object

In [22]:
display(a['Value'])
display(type(a['Value']))
display(fix_errors.seniority_cat_to_month_count(a['Value']))

'3 - 4 года'

str

47

In [44]:
display(a['JobStartDate'])
display(fix_errors.time_diff(a['JobStartDate'])/12)

'2019-05-01 00:00:00.0000000'

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3550, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_1626907/2603043510.py", line 2, in <module>
    display(fix_errors.time_diff(a['JobStartDate'])/12)
  File "/mnt/data/projects/active/urfu/hacaton2/scripts/data_scripts/fix_errors.py", line 130, in time_diff
TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/var/lib/python/python_venvs/torch_streamlit/lib/python3.10/site-packages/executing/executing.py", line 116, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [81]:
# b=df2t.iloc[5457, :]
b=df.iloc[4348, :]
b

SkillFactory_Id                                          5769.0
BirthDate                           2005-02-04 00:00:00.0000000
education                                  Неоконченное среднее
employment status    Работаю по найму полный рабочий день/служу
Value                                         6 месяцев - 1 год
JobStartDate                        2005-03-01 00:00:00.0000000
Position                  рабочий на кромкооблицовачном станке
MonthProfit                                             87000.0
MonthExpense                                            42000.0
Gender                                                      1.0
Family status                     Никогда в браке не состоял(а)
ChildCount                                                  0.0
SNILS                                                       1.0
BankA_decision                                          success
BankB_decision                                          success
BankC_decision                                          success
BankD_decision                                           denied
BankE_decision                                          success
Merch_code                                                 43.0
Loan_amount                                            196000.0
Loan_term                                                  24.0
Goods_category                                           Travel
Name: 4348, dtype: object

In [74]:
total_seniority = int(seniority_cats.seniority_cat_to_month_count(b['Value']))
total_seniority

11

In [42]:
seniority_cats.months_seniority_to_cat(156)

'10 и более лет'

In [75]:
display(b['BirthDate'])
display(type(b['BirthDate']))
display(pd.to_datetime(b['BirthDate']))

'2005-02-04 00:00:00.0000000'

str

Timestamp('2005-02-04 00:00:00')

In [51]:
from dateutil.relativedelta import relativedelta
from datetime import datetime
age = relativedelta(datetime.today(),  pd.to_datetime(b['BirthDate']))
display(age)
display(age.months + age.years * 12)
age.months + (age.years - 16) * 12

relativedelta(years=+18, months=+10, days=+6, hours=+20, minutes=+45, seconds=+35, microseconds=+697777)

226

34

In [78]:
last_seniority = relativedelta(datetime.today(), b['JobStartDate'])
display(last_seniority)
last_seniority.months + last_seniority.years * 12

relativedelta(years=+18, months=+10, days=+6, hours=+21, seconds=+19, microseconds=+376741)

226

In [67]:
q=pd.to_datetime(None)
pd.isna(q)

True

In [82]:
b['JobStartDate']=pd.to_datetime(b['BirthDate'])
b['BirthDate']=pd.to_datetime(b['BirthDate'])
b['JobStartDate']

/tmp/ipykernel_1626907/508374068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['JobStartDate']=pd.to_datetime(b['BirthDate'])
/tmp/ipykernel_1626907/508374068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['BirthDate']=pd.to_datetime(b['BirthDate'])

Timestamp('2005-02-04 00:00:00')

In [83]:

c=fix_errors.fix_seniority(b)
c

/mnt/data/projects/active/urfu/hacaton2/scripts/data_scripts/fix_errors.py:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relativedelta(months=new_last_seniority)),

SkillFactory_Id                                          5769.0
BirthDate                                   2005-02-04 00:00:00
education                                  Неоконченное среднее
employment status    Работаю по найму полный рабочий день/служу
Value                                         6 месяцев - 1 год
JobStartDate                                2023-01-10 00:00:00
Position                  рабочий на кромкооблицовачном станке
MonthProfit                                             87000.0
MonthExpense                                            42000.0
Gender                                                      1.0
Family status                     Никогда в браке не состоял(а)
ChildCount                                                  0.0
SNILS                                                       1.0
BankA_decision                                          success
BankB_decision                                          success
BankC_decision                                          success
BankD_decision                                           denied
BankE_decision                                          success
Merch_code                                                 43.0
Loan_amount                                            196000.0
Loan_term                                                  24.0
Goods_category                                           Travel
Name: 4348, dtype: object

In [56]:
df2['education'].value_counts()

education
Высшее - специалист         5296
Среднее профессиональное     471
Среднее                      233
Неоконченное высшее          233
Бакалавр                     153
Несколько высших             110
Магистр                       73
Неоконченное среднее          30
MBA                            3
Ученая степень                 1
Name: count, dtype: int64

In [57]:
df1['employment status'].value_counts()

employment status
Работаю по найму полный рабочий день/служу    4858
Собственное дело                              1527
Не работаю                                      75
Работаю по найму неполный рабочий день          62
Студент                                         44
Декретный отпуск                                19
Пенсионер                                       18
Name: count, dtype: int64

In [14]:
aa=df['Value'].value_counts()

In [59]:
df1['Family status'].value_counts()

Family status
Никогда в браке не состоял(а)               4474
Женат / замужем                             1490
Разведён / Разведена                         486
Гражданский брак / совместное проживание     104
Вдовец / вдова                                49
Name: count, dtype: int64

In [60]:
df1['Goods_category'].value_counts()

Goods_category
Furniture           976
Mobile_devices      957
Travel              956
Medical_services    940
Education           936
Fitness             928
Other               910
Name: count, dtype: int64

In [61]:
df1['Merch_code'].value_counts()

Merch_code
35.0    110
11.0    110
74.0    108
62.0    108
63.0    106
       ...
19.0     84
36.0     83
6.0      82
72.0     79
66.0     79
Name: count, Length: 70, dtype: int64

In [62]:
df1['BankA_decision'].value_counts()

BankA_decision
success    4970
denied     1562
error        71
Name: count, dtype: int64

In [12]:
project_path = os.path.abspath(os.path.join(os.getcwd(), os.path.pardir, os.path.pardir))
params = yaml.safe_load(open(os.path.join(project_path, "params.yaml")))["split"]
bank_id = params["bank_id"]
bank_id

['A', 'B', 'C']

In [17]:
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
str(date.today())

'2023-12-09'

In [18]:
str(datetime.today().date(), format())

'2023-12-09'

In [23]:
#2022-12-01 00:00:00
datetime.strftime((date.today() -
                                            relativedelta(months=3)), "%Y-%m-%d %H:%M:%S")

'2023-09-09 00:00:00'